Repository sofn-xyz/mailing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop --autocorrect, cd packages/cli && yarn build-js-templates

save
  .eslintrc.json
  yarn.lock
Due: none

REQUIRE_API_KEY needs doc
  packages/cli/src/pages/api/__test__/render.test.ts
  packages/cli/src/pages/api/render.ts
  packages/cli/src/util/__test__/validateApiKey.test.ts
  packages/cli/src/util/validateApiKey.ts
Due: eslint --fix

doc
  packages/web/pages/docs/rest-api.mdx
Due: none

Update packages/cli/src/pages/api/render.ts
  packages/cli/src/pages/api/render.ts
Due: eslint --fix

fix syntax
  packages/cli/src/pages/api/render.ts
Due: eslint --fix

Update packages/web/pages/docs/rest-api.mdx
  packages/web/pages/docs/rest-api.mdx
Due: none

words
  packages/web/pages/docs/rest-api.mdx
Due: none

render.ts - api key auth via process.env (#377)
  packages/cli/src/pages/api/__test__/render.test.ts
  packages/cli/src/pages/api/render.ts
  packages/cli/src/util/__test__/validateApiKey.test.ts
  packages/cli/src/util/validateApiKey.ts
  packages/web/pages/docs/rest-api.mdx
Due: eslint --fix

release 0.9.2
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

Sync Templates (#379)
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  package.json
  packages/cli/src/commands/preview/server/templates/feModuleManifest.template.ejs
  packages/cli/src/commands/preview/server/templates/moduleManifest.template.ejs
  packages/cli/src/components/MobileHeader.tsx
  packages/cli/src/generator_templates/js/emails/AccountCreated.jsx
  packages/cli/src/generator_templates/js/emails/NewSignIn.jsx
  packages/cli/src/generator_templates/js/emails/Reservation.jsx
  packages/cli/src/generator_templates/js/emails/ResetPassword.jsx
  packages/cli/src/generator_templates/js/emails/components/BulletedList.jsx
  packages/cli/src/generator_templates/js/emails/components/ButtonPrimary.jsx
  packages/cli/src/generator_templates/js/emails/components/Footer.jsx
  packages/cli/src/generator_templates/js/emails/components/Head.jsx
  packages/cli/src/generator_templates/js/emails/components/Header.jsx
  packages/cli/src/generator_templates/js/emails/components/theme.js
  packages/cli/src/generator_templates/js/emails/index.js
  packages/cli/src/generator_templates/js/emails/previews/Reservation.jsx
  packages/cli/src/pages/api/__integration__/util/apiKeys.ts
  packages/cli/src/pages/api/__integration__/util/index.ts
  packages/cli/src/util/config/__test__/anonymousId.test.ts
  scripts/assert-free-ports
  scripts/build-js-templates
  yarn.lock
Due: eslint --fix

Newsletter subject: Introducing Mailing 0.9 ⚡
  packages/web/emails/Newsletter.tsx
Due: eslint --fix

send_newsletter script
  scripts/newsletter/send_newsletter.rb
Due: rubocop --autocorrect

done-ish
  packages/web/components/white-glove/ExampleCard.tsx
  packages/web/components/white-glove/H2.tsx
  packages/web/components/white-glove/Li.tsx
  packages/web/components/white-glove/Pricing.tsx
  packages/web/components/white-glove/Subheading.tsx
  packages/web/pages/white-glove.tsx
  packages/web/styles/globals.css
Due: eslint --fix

rm laudspeaker.png
  packages/web/public/white-glove/laudspeaker.png
Due: none

send_newsletter script (#383)
  scripts/newsletter/send_newsletter.rb
Due: rubocop --autocorrect

these should be 422 errors
  packages/cli/src/pages/api/sendMail.ts
Due: eslint --fix

these errors should be json to conform with other errors in the rest api
  packages/cli/src/util/validateApiKey.ts
Due: eslint --fix

passing sendMail test
  packages/cli/src/pages/api/__test__/sendMail.test.ts
Due: eslint --fix

sendMail test
  packages/cli/src/pages/api/__test__/sendMail.test.ts
Due: eslint --fix

404 -> 422
  packages/cli/src/pages/api/__integration__/sendMail.test.ts
Due: eslint --fix

initial design qa
  packages/web/components/white-glove/Arrow.tsx
  packages/web/components/white-glove/ExampleCard.tsx
  packages/web/components/white-glove/KeyButton.tsx
  packages/web/components/white-glove/Li.tsx
  packages/web/components/white-glove/Pricing.tsx
  packages/web/components/white-glove/Subheading.tsx
  packages/web/pages/white-glove.tsx
Due: eslint --fix

update default email templates
  packages/cli/src/generator_templates/js/emails/AccountCreated.jsx
  packages/cli/src/generator_templates/js/emails/NewSignIn.jsx
  packages/cli/src/generator_templates/js/emails/Reservation.jsx
  packages/cli/src/generator_templates/js/emails/ResetPassword.jsx
  packages/cli/src/generator_templates/js/emails/components/BulletedList.jsx
  packages/cli/src/generator_templates/js/emails/components/Button.jsx
  packages/cli/src/generator_templates/js/emails/components/Divider.jsx
  packages/cli/src/generator_templates/js/emails/components/Footer.jsx
  packages/cli/src/generator_templates/js/emails/components/Head.jsx
  packages/cli/src/generator_templates/js/emails/components/Header.jsx
  packages/cli/src/generator_templates/js/emails/components/Heading.jsx
  packages/cli/src/generator_templates/js/emails/components/List.jsx
  packages/cli/src/generator_templates/js/emails/components/Text.jsx
  packages/cli/src/generator_templates/js/emails/layouts/BaseLayout.jsx
  packages/cli/src/generator_templates/js/emails/previews/AccountCreated.jsx
  packages/cli/src/generator_templates/js/emails/previews/NewSignIn.jsx
  packages/cli/src/generator_templates/js/emails/previews/Reservation.jsx
  packages/cli/src/generator_templates/js/emails/previews/ResetPassword.jsx
  packages/cli/src/generator_templates/js/emails/theme.js
  packages/cli/src/generator_templates/ts/emails/AccountCreated.tsx
  packages/cli/src/generator_templates/ts/emails/NewSignIn.tsx
  packages/cli/src/generator_templates/ts/emails/Reservation.tsx
  packages/cli/src/generator_templates/ts/emails/ResetPassword.tsx
  packages/cli/src/generator_templates/ts/emails/components/BulletedList.tsx
  packages/cli/src/generator_templates/ts/emails/components/Button.tsx
  packages/cli/src/generator_templates/ts/emails/components/ButtonPrimary.tsx
  packages/cli/src/generator_templates/ts/emails/components/Divider.tsx
  packages/cli/src/generator_templates/ts/emails/components/Footer.tsx
  packages/cli/src/generator_templates/ts/emails/components/Head.tsx
  packages/cli/src/generator_templates/ts/emails/components/Header.tsx
  packages/cli/src/generator_templates/ts/emails/components/Heading.tsx
  packages/cli/src/generator_templates/ts/emails/components/List.tsx
  packages/cli/src/generator_templates/ts/emails/components/Text.tsx
  packages/cli/src/generator_templates/ts/emails/components/theme.ts
  packages/cli/src/generator_templates/ts/emails/layouts/BaseLayout.tsx
  packages/cli/src/generator_templates/ts/emails/previews/AccountCreated.tsx
  packages/cli/src/generator_templates/ts/emails/previews/NewSignIn.tsx
  packages/cli/src/generator_templates/ts/emails/previews/Reservation.tsx
  packages/cli/src/generator_templates/ts/emails/previews/ResetPassword.tsx
  packages/cli/src/generator_templates/ts/emails/theme.ts
Due: eslint --fix, cd packages/cli && yarn build-js-templates

use 422 response codes (#385)
  packages/cli/src/pages/api/__integration__/sendMail.test.ts
  packages/cli/src/pages/api/__test__/sendMail.test.ts
  packages/cli/src/pages/api/sendMail.ts
  packages/cli/src/util/validateApiKey.ts
Due: eslint --fix

header and discount banner look good at all screen sizes
  packages/web/components/white-glove/ExampleCard.tsx
  packages/web/components/white-glove/Pricing.tsx
  packages/web/pages/white-glove.tsx
Due: eslint --fix

start migrating to mm-env
  .github/workflows/jest.yml
  package.json
  packages/cli/next.config.js
  packages/cli/src/commands/preview/server/__test__/setup.test.ts
  packages/cli/src/commands/preview/server/setup.ts
  packages/cli/src/commands/preview/server/start.ts
  packages/cli/src/commands/util/registerRequireHooks.ts
  packages/cli/src/dev.js
  packages/cli/src/util/generators.ts
  packages/cli/src/util/paths.ts
  packages/cli/src/util/postHog/__test__/postHog.test.ts
  packages/cli/src/util/postHog/index.ts
  packages/core/src/index.ts
  packages/core/src/util/postHog/index.ts
  testSetup.integration.ts
  testSetup.ts
Due: eslint --fix

body width
  packages/web/components/white-glove/ExampleCard.tsx
  packages/web/pages/white-glove.tsx
Due: eslint --fix

update snaps
  packages/cli/src/commands/__test__/init.test.ts
  packages/cli/src/generator_templates/js/emails/Reservation.jsx
  packages/cli/src/generator_templates/js/emails/ResetPassword.jsx
  packages/cli/src/generator_templates/ts/emails/Reservation.tsx
  packages/cli/src/generator_templates/ts/emails/ResetPassword.tsx
  packages/cli/src/pages/api/previews/__test__/__snapshots__/index.test.tsx.snap
  packages/cli/src/util/__test__/__snapshots__/renderTemplate.test.ts.snap
Due: eslint --fix, cd packages/cli && yarn build-js-templates

fix utica font loading; rm pricing row
  packages/cli/theme.js
  packages/web/components/white-glove/Pricing.tsx
  packages/web/pages/_app.tsx
  packages/web/styles/globals.css
Due: eslint --fix

update
  packages/cli/src/generator_templates/js/emails/AccountCreated.jsx
  packages/cli/src/generator_templates/ts/emails/AccountCreated.tsx
  packages/cli/src/util/__test__/__snapshots__/renderTemplate.test.ts.snap
Due: eslint --fix, cd packages/cli && yarn build-js-templates

subheading spacing
  packages/web/components/white-glove/Subheading.tsx
  packages/web/pages/white-glove.tsx
Due: eslint --fix

tweak how it works and hero text across screen widths
  packages/web/components/white-glove/Li.tsx
  packages/web/components/white-glove/Pricing.tsx
  packages/web/pages/white-glove.tsx
Due: eslint --fix

more spacing adjustments
  packages/web/components/white-glove/ExampleCard.tsx
  packages/web/components/white-glove/Pricing.tsx
Due: eslint --fix

bippity
  packages/web/pages/white-glove.tsx
Due: eslint --fix

add real typeform url
  packages/web/pages/white-glove.tsx
Due: eslint --fix

fix
  packages/cli/src/pages/api/__integration__/sendMail.test.ts
Due: eslint --fix

update build-js-templates script
  packages/cli/src/commands/__test__/init.test.ts
  packages/cli/src/generator_templates/js/emails/components/BulletedList.jsx
  packages/cli/src/generator_templates/js/emails/components/ButtonPrimary.jsx
  packages/cli/src/generator_templates/js/emails/components/Head.jsx
  packages/cli/src/generator_templates/js/emails/components/theme.js
  scripts/build-js-templates
Due: eslint --fix

more links to templates, better Limited time copy
  packages/web/pages/docs/templates.mdx
  packages/web/pages/index.tsx
  packages/web/pages/white-glove.tsx
Due: eslint --fix

fix broken link
  packages/web/pages/docs/templates.mdx
Due: none

save - working tests
  packages/cli/src/pages/api/__test__/sendMail.test.ts
  packages/cli/src/pages/api/sendMail.ts
  packages/core/src/index.ts
Due: eslint --fix

split sendMail tests into mocked and non-mocked
  packages/cli/src/pages/api/__test__/sendMail.test.ts
  packages/cli/src/pages/api/__test__/sendMailMock.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  rubocop --autocorrect: any of: *.rb
  cd packages/cli && yarn build-js-templates: any of: packages/cli/src/generator_templates/ts/**/*.{ts,tsx}
