Repository sofn-xyz/mailing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop --autocorrect, scripts/generate-emails __mocks__/emails, scripts/generate-emails emails

revert page-snap https://github.com/sofn-xyz/mailing/pull/373
  packages/cli/package.json
  packages/cli/src/pages/_document.tsx
  packages/cli/src/pages/api/pageSnap.ts
  yarn.lock
Due: eslint --fix

changeset
  .changeset/eight-snakes-change.md
Due: none

reduce bundle size by removing og-image page snapshotting (#434)
  .changeset/eight-snakes-change.md
  packages/cli/package.json
  packages/cli/src/pages/_document.tsx
  packages/cli/src/pages/api/pageSnap.ts
  yarn.lock
Due: eslint --fix

Loading... text
  packages/cli/src/pages/unsubscribe/[memberId].tsx
Due: eslint --fix

don't log
  packages/cli/src/pages/unsubscribe/[memberId].tsx
Due: eslint --fix

changeset
  .changeset/bright-terms-matter.md
Due: none

update docs on how to opt out out anonymous telemetry
  packages/web/pages/docs/index.mdx
Due: none

update white glove pricing
  packages/web/components/white-glove/Pricing.tsx
Due: eslint --fix

update white glove pricing (#441)
  packages/web/components/white-glove/Pricing.tsx
Due: eslint --fix

remove node-fetch from packages/cli this was causing the issues where pnpm was saying it wanted 'encoding' dependency
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/pages/api/__integration__/util/index.ts
  packages/cli/src/util/analytics/__test__/analytics.test.ts
  packages/cli/src/util/analytics/providers/Axiom.ts
  packages/cli/src/util/analytics/providers/Posthog.ts
  packages/cli/src/util/analytics/providers/__test__/Axiom.test.ts
  packages/cli/src/util/analytics/providers/__test__/Posthog.test.ts
  yarn.lock
Due: eslint --fix

example .env
  .env.example
Due: none

changeset and comment
  .changeset/shiny-fans-hide.md
  .env.example
Due: none

docs about tests
  .env.example
  packages/web/pages/docs/contributing.mdx
Due: none

remove startTransition because it is a react 18 feature
  packages/cli/src/pages/unsubscribe/[memberId].tsx
Due: eslint --fix

Delete shiny-fans-hide.md
  .changeset/shiny-fans-hide.md
Due: none

example .env (#444)
  .env.example
  packages/web/pages/docs/contributing.mdx
Due: none

Loading... text (#437)
  .changeset/bright-terms-matter.md
  packages/cli/src/pages/unsubscribe/[memberId].tsx
Due: eslint --fix

DISABLE_PREVIEWS env variable
  .changeset/lucky-ways-fry.md
  packages/cli/src/pages/previews/[[...path]].tsx
Due: eslint --fix

doc
  packages/web/pages/docs/index.mdx
Due: none

* use filename as object key for `previews` and `templates` in moduleManifest * quote keys for `previews` and `templates` to work with dashes in filenames
  packages/cli/src/commands/preview/server/setup.ts
Due: eslint --fix

use `camelCase()` from lodash
  packages/cli/src/commands/preview/server/setup.ts
Due: eslint --fix

add changeset
  .changeset/orange-pears-explain.md
Due: none

DISABLE_PREVIEWS env variable (#445)
  .changeset/lucky-ways-fry.md
  packages/cli/src/pages/previews/[[...path]].tsx
  packages/web/pages/docs/index.mdx
Due: eslint --fix

Support dashes in filenames (#448)
  .changeset/orange-pears-explain.md
  packages/cli/src/commands/preview/server/setup.ts
Due: eslint --fix

release 0.9.11
  .changeset/bright-terms-matter.md
  .changeset/eight-snakes-change.md
  .changeset/lucky-ways-fry.md
  .changeset/orange-pears-explain.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

use randomUUID instead of Date.now since I saw collisions
  packages/cli/src/preview/controllers/intercepts.tsx
Due: eslint --fix

changeset
  .changeset/fifty-socks-behave.md
Due: none

update regex to match hex
  packages/cli/src/commands/preview/server/start.ts
Due: eslint --fix

use randomUUID for intercepts (#451)
  .changeset/fifty-socks-behave.md
  packages/cli/src/commands/preview/server/start.ts
  packages/cli/src/preview/controllers/intercepts.tsx
Due: eslint --fix

release 0.9.12
  .changeset/fifty-socks-behave.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

add changeset
  .changeset/plenty-mice-call.md
Due: none

fix: example mailing/core -> mailing-core
  packages/web/pages/docs/index.mdx
Due: none

update next commands to reflect new create next app options
  e2e/app/next_js.rb
  e2e/app/next_ts.rb
Due: rubocop --autocorrect

split standalone into standalone js and standalone ts
  e2e/app.rb
  e2e/app/standalone_js.rb
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

update create redwood app configs and bump node because redwood now requires >= 16.19.0
  .tool-versions
  e2e/app/redwood_js.rb
  e2e/app/redwood_ts.rb
Due: rubocop --autocorrect

fix standalone
  .github/workflows/e2e.yml
Due: none

use the right tsc init syntax
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

verify that tsconfig.json is written before doing anything else
  e2e/app/base.rb
  e2e/app/standalone_js.rb
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

install typescript the right way
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  rubocop --autocorrect: any of: *.rb
  scripts/generate-emails __mocks__/emails: any of: packages/cli/src/__mocks__/emails/**/*.{ts,tsx}
  scripts/generate-emails emails: any of: packages/cli/src/emails/**/*.{ts,tsx}
