Repository sofn-xyz/mailing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop --autocorrect, scripts/generate-emails __mocks__/emails, scripts/generate-emails emails

the api should 500 not 401 if there is a db error (#468)
  .changeset/shiny-parents-live.md
  .github/workflows/e2e.yml
  .gitignore
  packages/cli/package.json
  packages/cli/src/pages/api/messages/index.ts
  packages/cli/src/util/__test__/validateApiKey.test.ts
  packages/cli/src/util/validate/validateApiKey.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix

release 1.0.0
  .changeset/plenty-mice-call.md
  .changeset/shiny-parents-live.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

Add subject to /api/render response
  packages/cli/src/util/renderTemplate.ts
Due: eslint --fix

Update rest api doc
  packages/web/pages/docs/rest-api.mdx
Due: none

Fix doc typo
  packages/web/pages/docs/rest-api.mdx
Due: none

Add tests and fix res
  packages/cli/src/pages/api/__integration__/render.test.ts
  packages/cli/src/pages/api/render.ts
Due: eslint --fix

Fix mjmlErrors assertion
  packages/cli/src/util/__test__/renderTemplate.test.ts
Due: eslint --fix

Fix mjmlErrors undefined assertion
  packages/cli/src/util/__test__/renderTemplate.test.ts
Due: eslint --fix

Add subject to /api/render response (#470)
  packages/cli/src/pages/api/__integration__/render.test.ts
  packages/cli/src/pages/api/render.ts
  packages/cli/src/util/__test__/renderTemplate.test.ts
  packages/cli/src/util/renderTemplate.ts
  packages/web/pages/docs/rest-api.mdx
Due: eslint --fix

changeset
  .changeset/tasty-pugs-knock.md
Due: none

v1.0.1
  .changeset/tasty-pugs-knock.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

include `from` option when forcing in intercept preview
  packages/cli/src/components/Intercept.tsx
Due: eslint --fix

Decode URI component when reading URL path
  packages/cli/src/components/IndexPane/hooks/__test__/__snapshots__/usePreviewTree.test.ts.snap
  packages/cli/src/components/IndexPane/hooks/__test__/usePreviewTree.test.ts
  packages/cli/src/components/IndexPane/hooks/usePreviewTree.ts
Due: eslint --fix

Prevent live reload in production build
  packages/cli/src/components/hooks/useLiveReload.tsx
Due: eslint --fix

Add truncate for names in sidebar pane
  packages/cli/src/components/IndexPane/CompactView.tsx
Due: eslint --fix

include `from` option when forcing in intercept preview (#480)
  packages/cli/src/components/Intercept.tsx
Due: eslint --fix

Prevent live reload in production build (#483)
  packages/cli/src/components/hooks/useLiveReload.tsx
Due: eslint --fix

Decode URI component when reading URL path (#482)
  packages/cli/src/components/IndexPane/hooks/__test__/__snapshots__/usePreviewTree.test.ts.snap
  packages/cli/src/components/IndexPane/hooks/__test__/usePreviewTree.test.ts
  packages/cli/src/components/IndexPane/hooks/usePreviewTree.ts
Due: eslint --fix

bump to node 18
  .tool-versions
  yarn.lock
Due: none

node-version: 16 -> 18
  .github/workflows/e2e.yml
Due: none

dont test 16
  .github/workflows/jest.yml
Due: none

bump to node 18 (#485)
  .github/workflows/e2e.yml
  .github/workflows/jest.yml
  .tool-versions
  yarn.lock
Due: none

v1.0.2
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/const/mailingVersion.ts
  packages/cli/src/util/postHog/posthogApiKey.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/const/mailingCoreVersion.ts
  packages/core/src/util/postHog/client.ts
Due: eslint --fix

Add aria-selected to newly created div
  packages/cli/src/components/IndexPane/CompactView.tsx
Due: eslint --fix

next 14
  packages/cli/package.json
Due: none

fix
  packages/cli/package.json
Due: none

fix: bump to next 14 in peer deps (#488)
  packages/cli/package.json
Due: none

remove anonymous telemetry stuff
  .env.example
  packages/cli/package.json
  packages/cli/src/commands/__test__/exportPreviews.test.ts
  packages/cli/src/commands/exportPreviews.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/preview/preview.ts
  packages/cli/src/commands/preview/server/start.ts
  packages/cli/src/commands/server.ts
  packages/cli/src/components/PosthogScript.tsx
  packages/cli/src/custom.d.ts
  packages/cli/src/moduleManifest.ts
  packages/cli/src/pages/_app.tsx
  packages/cli/src/util/__test__/buildHandler.test.ts
  packages/cli/src/util/buildHandler.ts
  packages/cli/src/util/config/__test__/__snapshots__/config.test.ts.snap
  packages/cli/src/util/config/__test__/anonymousId.test.ts
  packages/cli/src/util/config/__test__/config.test.ts
  packages/cli/src/util/config/anonymousId.ts
  packages/cli/src/util/config/index.ts
  packages/cli/src/util/postHog/__test__/index.test.ts
  packages/cli/src/util/postHog/__test__/indexMockMailingVersion.test.ts
  packages/cli/src/util/postHog/client.ts
  packages/cli/src/util/postHog/index.ts
  packages/cli/src/util/postHog/posthogApiKey.ts
  packages/core/package.json
  packages/core/src/__test__/index.test.tsx
  packages/core/src/index.ts
  packages/core/src/util/postHog/__test__/indexMockMailingCoreVersion.test.ts
  packages/core/src/util/postHog/client.ts
  packages/core/src/util/postHog/index.ts
  scripts/release
  yarn.lock
Due: eslint --fix

rm email capture
  packages/cli/src/commands/init.ts
Due: eslint --fix

fix tests
  packages/cli/src/commands/exportPreviews.ts
  packages/cli/src/commands/preview/preview.ts
  packages/cli/src/commands/server.ts
  packages/cli/src/util/__test__/buildHandler.test.ts
Due: eslint --fix

try unknown cast
  packages/cli/src/util/tailwind.ts
Due: eslint --fix

update remix template
  e2e/app/remix_ts.rb
Due: rubocop --autocorrect

try latest cypress action
  .github/workflows/e2e.yml
Due: none

add changeset
  .changeset/orange-dancers-whisper.md
Due: none

changeset
  .changeset/rich-adults-train.md
Due: none

remove pricing/coming soon stuff
  packages/web/pages/docs/deploy.mdx
  packages/web/pages/docs/platform.mdx
  packages/web/pages/index.tsx
Due: eslint --fix

Remove email capture, usage tracking (#489)
  .changeset/rich-adults-train.md
  .env.example
  .github/workflows/e2e.yml
  e2e/app/remix_ts.rb
  packages/cli/package.json
  packages/cli/src/commands/__test__/exportPreviews.test.ts
  packages/cli/src/commands/exportPreviews.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/preview/preview.ts
  packages/cli/src/commands/preview/server/start.ts
  packages/cli/src/commands/server.ts
  packages/cli/src/components/PosthogScript.tsx
  packages/cli/src/custom.d.ts
  packages/cli/src/moduleManifest.ts
  packages/cli/src/pages/_app.tsx
  packages/cli/src/util/__test__/buildHandler.test.ts
  packages/cli/src/util/buildHandler.ts
  packages/cli/src/util/config/__test__/__snapshots__/config.test.ts.snap
  packages/cli/src/util/config/__test__/anonymousId.test.ts
  packages/cli/src/util/config/__test__/config.test.ts
  packages/cli/src/util/config/anonymousId.ts
  packages/cli/src/util/config/index.ts
  packages/cli/src/util/postHog/__test__/index.test.ts
  packages/cli/src/util/postHog/__test__/indexMockMailingVersion.test.ts
  packages/cli/src/util/postHog/client.ts
  packages/cli/src/util/postHog/index.ts
  packages/cli/src/util/postHog/posthogApiKey.ts
  packages/cli/src/util/tailwind.ts
  packages/core/package.json
  packages/core/src/__test__/index.test.tsx
  packages/core/src/index.ts
  packages/core/src/util/postHog/__test__/indexMockMailingCoreVersion.test.ts
  packages/core/src/util/postHog/client.ts
  packages/core/src/util/postHog/index.ts
  scripts/release
  yarn.lock
Due: eslint --fix, rubocop --autocorrect

remove pricing/coming soon stuff (#490)
  packages/web/pages/docs/deploy.mdx
  packages/web/pages/docs/platform.mdx
  packages/web/pages/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  rubocop --autocorrect: any of: *.rb
  scripts/generate-emails __mocks__/emails: any of: packages/cli/src/__mocks__/emails/**/*.{ts,tsx}
  scripts/generate-emails emails: any of: packages/cli/src/emails/**/*.{ts,tsx}
