Repository sofn-xyz/mailing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop --autocorrect, scripts/generate-emails __mocks__/emails, scripts/generate-emails emails

try to use the same anonymousId for the browser events as for the server events (#417)
  packages/cli/src/components/PosthogScript.tsx
  packages/cli/src/feManifest.ts
Due: eslint --fix

log on the line before the failure
  packages/core/src/index.ts
Due: eslint --fix

set sendMail.config
  packages/cli/src/commands/preview/server/templates/moduleManifest.template.ejs
  packages/core/src/index.ts
Due: eslint --fix

changeset
  .changeset/unlucky-beers-obey.md
Due: none

sendMail uses anonymousId (#418)
  .changeset/unlucky-beers-obey.md
  packages/cli/src/commands/preview/server/templates/moduleManifest.template.ejs
  packages/core/src/index.ts
Due: eslint --fix

fix typeo in Building Templates
  packages/web/pages/docs/building-templates.mdx
Due: none

release 0.9.7
  .changeset/unlucky-beers-obey.md
  .changeset/warm-ligers-count.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

code review
  packages/cli/src/emails-js/Welcome.jsx
  packages/cli/src/emails-js/components/BaseLayout.jsx
  packages/cli/src/emails-js/components/Header.jsx
  packages/cli/src/emails-js/theme.js
  packages/cli/src/emails/Welcome.tsx
  packages/cli/src/emails/components/BaseLayout.tsx
  packages/cli/src/emails/components/Header.tsx
  packages/cli/src/emails/theme.ts
Due: eslint --fix, scripts/generate-emails emails

add pricing section
  packages/web/components/homepage/KeyButton.tsx
  packages/web/pages/index.tsx
Due: eslint --fix

copy change
  packages/web/pages/index.tsx
Due: eslint --fix

add assets for welcome template
  packages/web/public/welcome-template/discord.png
  packages/web/public/welcome-template/github.png
  packages/web/public/welcome-template/logo-full.png
  packages/web/public/welcome-template/logo.png
Due: none

minimize
  packages/web/public/welcome-template/logo-full.png
Due: none

Add assets for welcome template (#421)
  packages/web/public/welcome-template/discord.png
  packages/web/public/welcome-template/github.png
  packages/web/public/welcome-template/logo-full.png
  packages/web/public/welcome-template/logo.png
Due: none

add new assets
  packages/cli/src/emails-js/components/Footer.jsx
  packages/cli/src/emails-js/components/Header.jsx
  packages/cli/src/emails/components/Footer.tsx
  packages/cli/src/emails/components/Header.tsx
Due: eslint --fix, scripts/generate-emails emails

add pricing section (#420)
  packages/web/components/homepage/KeyButton.tsx
  packages/web/pages/index.tsx
Due: eslint --fix

add remix doc
  packages/web/components/docs/DocsLayout.tsx
  packages/web/pages/docs/index.mdx
  packages/web/pages/docs/remix.mdx
Due: eslint --fix

add remix doc (#422)
  packages/web/components/docs/DocsLayout.tsx
  packages/web/pages/docs/index.mdx
  packages/web/pages/docs/remix.mdx
Due: eslint --fix

fix broken link
  packages/web/components/Header.tsx
Due: eslint --fix

fix broken link (#423)
  packages/web/components/Header.tsx
Due: eslint --fix

v0.9.8
  .changeset/silly-boats-mix.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

Increase sizeLimit in sendMail route
  packages/cli/src/pages/api/sendMail.ts
Due: eslint --fix

docs: Update REST API example
  packages/web/pages/docs/rest-api.mdx
Due: none

docs: Update REST API example (#431)
  packages/web/pages/docs/rest-api.mdx
Due: none

Increase sizeLimit in sendMail route (#428)
  packages/cli/src/pages/api/sendMail.ts
Due: eslint --fix

up snap
  packages/cli/src/util/__test__/__snapshots__/renderTemplate.test.ts.snap
Due: none

print next version
  package.json
Due: none

try bumping next
  package.json
  packages/cli/package.json
  packages/web/package.json
  yarn.lock
Due: none

try utc date
  packages/cli/src/pages/audiences/index.tsx
  packages/cli/src/pages/settings.tsx
Due: eslint --fix

blank string to confirm theory
  packages/cli/src/pages/audiences/index.tsx
  packages/cli/src/pages/settings.tsx
Due: eslint --fix

only render dates on the client so locale is correct
  packages/cli/src/pages/audiences/index.tsx
  packages/cli/src/pages/settings.tsx
Due: eslint --fix

changeset
  .changeset/yellow-peaches-count.md
  packages/cli/src/pages/audiences/index.tsx
Due: eslint --fix

bugfix: allow files with - fixes #430
  packages/cli/src/commands/preview/server/__test__/setup.test.ts
  packages/cli/src/commands/preview/server/setup.ts
Due: eslint --fix

changeset
  .changeset/rich-cobras-pump.md
Due: none

up snap (#432)
  .changeset/yellow-peaches-count.md
  packages/cli/package.json
  packages/cli/src/pages/audiences/index.tsx
  packages/cli/src/pages/settings.tsx
  packages/cli/src/util/__test__/__snapshots__/renderTemplate.test.ts.snap
  packages/web/package.json
  yarn.lock
Due: eslint --fix

add changeset for https://github.com/sofn-xyz/mailing/pull/428
  .changeset/lovely-mangos-raise.md
Due: none

bugfix: allow files with - (#433)
  .changeset/rich-cobras-pump.md
  packages/cli/src/commands/preview/server/__test__/setup.test.ts
  packages/cli/src/commands/preview/server/setup.ts
Due: eslint --fix

0.9.9
  .changeset/lovely-mangos-raise.md
  .changeset/rich-cobras-pump.md
  .changeset/yellow-peaches-count.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  rubocop --autocorrect: any of: *.rb
  scripts/generate-emails __mocks__/emails: any of: packages/cli/src/__mocks__/emails/**/*.{ts,tsx}
  scripts/generate-emails emails: any of: packages/cli/src/emails/**/*.{ts,tsx}
