Repository sofn-xyz/mailing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop --autocorrect, scripts/generate-emails __mocks__/emails, scripts/generate-emails emails

v1.1.0
  .changeset/orange-dancers-whisper.md
  .changeset/rich-adults-train.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

bad condtional when added error message
  packages/cli/src/pages/api/render.ts
Due: eslint --fix

bad condtional when added error message (#494)
  packages/cli/src/pages/api/render.ts
Due: eslint --fix

Bump posthog-node to fix vulnerability
  packages/core/package.json
  yarn.lock
Due: none

Fix rotting CI checks (snapshot time-bomb + deprecated upload-artifact)
  .github/workflows/cypress.yml
  .github/workflows/cypress_integration.yml
  packages/cli/src/util/__test__/renderTemplate.test.ts
Due: eslint --fix

Fix rotting CI checks (snapshot time-bomb + deprecated upload-artifact) (#502)
  .changeset/orange-dancers-whisper.md
  .changeset/rich-adults-train.md
  .github/workflows/cypress.yml
  .github/workflows/cypress_integration.yml
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/util/__test__/renderTemplate.test.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: eslint --fix

Restore fake timers via afterEach instead of try/finally
  packages/cli/src/util/__test__/renderTemplate.test.ts
Due: eslint --fix

Restore fake timers via afterEach instead of try/finally (#503)
  packages/cli/src/util/__test__/renderTemplate.test.ts
Due: eslint --fix

Remove unused posthog-node dependency
  packages/core/package.json
  yarn.lock
Due: none

Add changeset for posthog-node removal
  .changeset/remove-unused-posthog-node.md
Due: none

Remove unused posthog-node dependency (#501)
  .changeset/remove-unused-posthog-node.md
  packages/core/package.json
  yarn.lock
Due: none

v1.1.1
  .changeset/remove-unused-posthog-node.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

Repair e2e CI matrix after upstream toolchain drift (#504)
  .github/workflows/e2e.yml
  .tool-versions
  e2e/app/base.rb
  e2e/app/next_js.rb
  e2e/app/next_ts.rb
  e2e/app/redwood_js.rb
  e2e/app/remix_js.rb
  e2e/app/remix_ts.rb
  e2e/app/standalone_js.rb
  e2e/app/standalone_ts.rb
  e2e/helpers/system_utils.rb
Due: rubocop --autocorrect

Green the e2e matrix: node 20.19, mjml type fix, drop EOL redwood
  .changeset/fix-mjml2html-async-type-drift.md
  .github/workflows/e2e.yml
  .tool-versions
  e2e/app/standalone_js.rb
  e2e/app/standalone_ts.rb
  e2e/mailing.rb
  packages/cli/src/util/mjml.ts
  packages/core/src/mjml.ts
Due: eslint --fix, rubocop --autocorrect

Make .mailing preview build resilient to node_modules type drift
  .changeset/fix-mjml2html-async-type-drift.md
  Gemfile.lock
  packages/cli/next.config.js
Due: eslint --fix

Fix export-previews JSX transpile + standalone_ts typescript pin
  .changeset/fix-mjml2html-async-type-drift.md
  e2e/app/standalone_ts.rb
  packages/cli/src/commands/util/registerRequireHooks.ts
Due: eslint --fix, rubocop --autocorrect

Load .js previews natively in ESM projects (fix remix_js)
  .changeset/fix-mjml2html-async-type-drift.md
  packages/cli/src/commands/util/registerRequireHooks.ts
Due: eslint --fix

Drop stray Gemfile.lock platform line from local bundle
  Gemfile.lock
Due: none

Unpin e2e scaffolders/deps (track latest), migrate remix to react-router
  .github/workflows/e2e.yml
  .tool-versions
  e2e/app.rb
  e2e/app/base.rb
  e2e/app/next_js.rb
  e2e/app/next_ts.rb
  e2e/app/redwood_js.rb
  e2e/app/remix_js.rb
  e2e/app/remix_ts.rb
  e2e/app/standalone_js.rb
  e2e/app/standalone_ts.rb
  e2e/helpers/test_runner.rb
  packages/cli/README.md
  packages/web/pages/docs/contributing.mdx
  packages/web/pages/docs/index.mdx
Due: rubocop --autocorrect

Build .mailing with webpack on Next 16+; update jest 30 snapshot header
  .changeset/fix-mjml2html-async-type-drift.md
  Gemfile.lock
  e2e/mailing_tests/jest/__snapshots__/exportPreviews.test.js.snap
  packages/cli/src/commands/server.ts
Due: eslint --fix

e2e: run cypress on bundled Electron (Chrome won't connect under Cypress 15)
  .github/workflows/e2e.yml
Due: none

Run .mailing preview dev server on webpack under Next 16
  .changeset/fix-mjml2html-async-type-drift.md
  packages/cli/src/commands/preview/server/start.ts
  packages/cli/src/commands/server.ts
  packages/cli/src/util/nextMajorVersion.ts
Due: eslint --fix

Gate the webpack opt-out at Next >= 16, not >= 15
  packages/cli/src/commands/preview/server/start.ts
  packages/cli/src/commands/server.ts
Due: eslint --fix

Repair e2e matrix to track latest + fix the mailing breakage it surfaced (#504)
  .changeset/fix-mjml2html-async-type-drift.md
  .github/workflows/e2e.yml
  .tool-versions
  Gemfile.lock
  e2e/app.rb
  e2e/app/next_js.rb
  e2e/app/next_ts.rb
  e2e/app/remix_js.rb
  e2e/app/remix_ts.rb
  e2e/helpers/system_utils.rb
  e2e/helpers/test_runner.rb
  e2e/mailing.rb
  e2e/mailing_tests/jest/__snapshots__/exportPreviews.test.js.snap
  packages/cli/README.md
  packages/cli/next.config.js
  packages/cli/src/commands/preview/server/start.ts
  packages/cli/src/commands/server.ts
  packages/cli/src/commands/util/registerRequireHooks.ts
  packages/cli/src/util/mjml.ts
  packages/cli/src/util/nextMajorVersion.ts
  packages/core/src/mjml.ts
  packages/web/pages/docs/contributing.mdx
  packages/web/pages/docs/index.mdx
Due: eslint --fix, rubocop --autocorrect

Support the last two Next/React majors in peer deps
  .changeset/next-react-peer-range.md
  packages/cli/package.json
Due: none

Support the last two Next/React majors in peer deps (#507)
  .changeset/next-react-peer-range.md
  packages/cli/package.json
Due: none

e2e: scope index.cy.js tree assertions to the treeitem
  e2e/mailing_tests/cypress/e2e/index.cy.js
Due: eslint --fix

e2e: harden index.cy.js tree assertions against label wrappers (#508)
  e2e/mailing_tests/cypress/e2e/index.cy.js
Due: eslint --fix

Add truncate for names in sidebar pane (#484)
  packages/cli/src/components/IndexPane/CompactView.tsx
Due: eslint --fix

Version Packages
  .changeset/fix-mjml2html-async-type-drift.md
  .changeset/next-react-peer-range.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

Version Packages (mailing 1.2.0, mailing-core 1.1.2)
  .changeset/fix-mjml2html-async-type-drift.md
  .changeset/next-react-peer-range.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

Fix cypress index test broken by the sidebar truncate wrapper (#484)
  packages/cli/cypress/e2e/index.cy.js
Due: eslint --fix

Fix cypress index test broken by #484's truncate wrapper (#510)
  packages/cli/cypress/e2e/index.cy.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  rubocop --autocorrect: any of: *.rb
  scripts/generate-emails __mocks__/emails: any of: packages/cli/src/__mocks__/emails/**/*.{ts,tsx}
  scripts/generate-emails emails: any of: packages/cli/src/emails/**/*.{ts,tsx}
