Repository sofn-xyz/mailing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop --autocorrect, scripts/generate-emails __mocks__/emails, scripts/generate-emails emails

use jsx=preserve
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

Revert "use jsx=preserve"
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

blah
  e2e/app/next_js.rb
  e2e/app/next_ts.rb
Due: rubocop --autocorrect

tweak tsconfig check
  e2e/app/base.rb
  e2e/app/redwood_ts.rb
Due: rubocop --autocorrect

Framework test improvements and bump node (#459)
  .github/workflows/e2e.yml
  .tool-versions
  e2e/app.rb
  e2e/app/base.rb
  e2e/app/next_js.rb
  e2e/app/next_ts.rb
  e2e/app/redwood_js.rb
  e2e/app/redwood_ts.rb
  e2e/app/standalone_js.rb
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

move HrefProps definition to inline because Link.tsx will be copied into the emails directory of the app that is installing mailing, but custom.d.ts will not, it will only be found if it is inline
  packages/cli/src/custom.d.ts
  packages/cli/src/emails-js/Welcome.jsx
  packages/cli/src/emails-js/components/BaseLayout.jsx
  packages/cli/src/emails-js/components/Button.jsx
  packages/cli/src/emails-js/components/Footer.jsx
  packages/cli/src/emails-js/components/Header.jsx
  packages/cli/src/emails-js/components/Text.jsx
  packages/cli/src/emails/components/Link.tsx
Due: eslint --fix, scripts/generate-emails emails

add @types/react to satisfy next error:
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

try adding @types/react to resolutions
  e2e/app/next_js.rb
  e2e/app/standalone_js.rb
Due: rubocop --autocorrect

Revert "try adding @types/react to resolutions"
  e2e/app/next_js.rb
  e2e/app/standalone_js.rb
Due: rubocop --autocorrect

add "@types/react": "^18.0.15" to cli dependencies
  packages/cli/package.json
Due: none

after moving @types/react to dependencies, no longer have to add it in e2e?
  e2e/app/standalone_ts.rb
Due: rubocop --autocorrect

catch prisma write failure in click hook
  packages/cli/src/pages/api/hooks/click.ts
Due: eslint --fix

changeset
  .changeset/dry-rabbits-move.md
Due: none

catch prisma write failure in click hook (#465)
  .changeset/dry-rabbits-move.md
  packages/cli/src/pages/api/hooks/click.ts
Due: eslint --fix

release 0.9.13
  .changeset/dry-rabbits-move.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

pass minifier callback to render method
  packages/core/src/index.ts
  packages/core/src/mjml.ts
  packages/web/pages/docs/sending-email.mdx
Due: eslint --fix

minifyCb -> processHtml for generality; options object for future api flexibility
  packages/core/src/index.ts
  packages/core/src/mjml.ts
  packages/web/pages/docs/sending-email.mdx
Due: eslint --fix

changeset
  .changeset/afraid-emus-try.md
Due: none

options should be optional, correct call
  packages/core/src/index.ts
  packages/core/src/mjml.ts
Due: eslint --fix

Pass minifier callback to mjml-react render method (#466)
  .changeset/afraid-emus-try.md
  packages/core/src/index.ts
  packages/core/src/mjml.ts
  packages/web/pages/docs/sending-email.mdx
Due: eslint --fix

v0.9.14
  .changeset/afraid-emus-try.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

fix bug and test: mailing should early return if api returns a non 200 code
  packages/core/src/__test__/index.test.tsx
  packages/core/src/index.ts
Due: eslint --fix

fix bug and test: mailing should early return if api returns a non 200 code
  .changeset/ten-goats-wave.md
  packages/core/src/__test__/index.test.tsx
  packages/core/src/index.ts
Due: eslint --fix

something got messed up
  packages/core/src/__test__/index.test.tsx
Due: eslint --fix

clean
  packages/core/src/__test__/index.test.tsx
Due: eslint --fix

comment
  packages/core/src/__test__/index.test.tsx
Due: eslint --fix

✓ should not send an email to a user that is unsubscribed
  packages/core/src/__test__/index.test.tsx
Due: eslint --fix

more tests
  packages/core/src/__test__/index.test.tsx
  packages/core/src/index.ts
Due: eslint --fix

mailing should early return if api returns a non 200 code (#467)
  .changeset/ten-goats-wave.md
  packages/core/src/__test__/index.test.tsx
  packages/core/src/index.ts
Due: eslint --fix

release mailing 0.9.15
  .changeset/ten-goats-wave.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

switch to major release for breaking change
  .changeset/plenty-mice-call.md
Due: none

version prerelease
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: none

the api should 500 not 401 if there is a db error (aside from not finding key). rescue was too liberal before
  packages/cli/src/pages/api/messages/index.ts
  packages/cli/src/util/validate/validateApiKey.ts
Due: eslint --fix

changeset
  .changeset/shiny-parents-live.md
Due: none

fix bugs
  packages/cli/src/pages/api/messages/index.ts
  packages/cli/src/util/__test__/validateApiKey.test.ts
  packages/cli/src/util/validate/validateApiKey.ts
Due: eslint --fix

bump prisma so we can use error codes
  packages/cli/package.json
  packages/cli/src/pages/api/messages/index.ts
  packages/cli/src/util/__test__/validateApiKey.test.ts
  packages/cli/src/util/validate/validateApiKey.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix

use relative imports in this project
  .gitignore
  packages/cli/src/pages/api/messages/index.ts
Due: eslint --fix

disable redwood_ts test because create-redwood-app fails to create a typescript app
  .github/workflows/e2e.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  rubocop --autocorrect: any of: *.rb
  scripts/generate-emails __mocks__/emails: any of: packages/cli/src/__mocks__/emails/**/*.{ts,tsx}
  scripts/generate-emails emails: any of: packages/cli/src/emails/**/*.{ts,tsx}
